[submodule "root/alx-pre_course/0x01-git/root/alx-pre_course/oxo1-git/alx-pre_course"]
	path = root/alx-pre_course/0x01-git/root/alx-pre_course/oxo1-git/alx-pre_course
	url = https://github.com/salmagarba22/alx-pre_course.git
